{{#if this.currentUser}}
  <div class="bookmark-reminders">
    <div class="bookmark-reminders__title">
      <h3>Upcoming Reminders</h3>
    </div>

    {{#if (gt this.overdueBookmarks.length 0)}}
      <h4 class="bookmark-reminders__subtitle --overdue">Overdue</h4>

      {{#each this.overdueBookmarks as |bookmark|}}
        <div class="bookmark-reminders__bookmark">

          <div class="bookmark-reminders__item --overdue">
            <div class="bookmark-reminders__overdue">
              {{theme-i18n "reminders.expired"}}
              <span class="bookmark-reminders__timestamp">
                {{format-date
                  bookmark.reminder_at
                  format="tiny"
                  leaveAgo="true"
                }}</span>
              {{bookmark.formattedReminder}}
              {{theme-i18n "reminders.ago"}}
            </div>
            <a
              href="{{bookmark.bookmarkable_url}}"
              class="bookmark-reminders__link"
            >{{bookmark.title}}</a>

          </div>
          {{#if bookmark.name}}
            <span class="bookmark-reminders__note">
              {{d-icon "far-edit"}}{{bookmark.name}}</span>
          {{/if}}
        </div>
      {{/each}}
    {{/if}}

    {{#if (gt this.todayBookmarks.length 0)}}
      <h4 class="bookmark-reminders__subtitle">Today</h4>

      {{#each this.todayBookmarks as |bookmark|}}
        <div class="bookmark-reminders__bookmark">

          <div class="bookmark-reminders__item">
            <a
              href="{{bookmark.bookmarkable_url}}"
              class="bookmark-reminders__link"
            >{{bookmark.title}}</a>
            {{theme-i18n "reminders.in"}}
            <span class="bookmark-reminders__timestamp">
              {{format-date bookmark.reminder_at format="tiny"}}</span>
          </div>
          {{#if bookmark.name}}
            <span class="bookmark-reminders__note">
              {{d-icon "far-edit"}}{{bookmark.name}}</span>
          {{/if}}
        </div>
      {{/each}}
    {{/if}}

    {{#if (gt this.thisWeekBookmarks.length 0)}}
      <h4 class="bookmark-reminders__subtitle">This week</h4>
      {{#each this.thisWeekBookmarks as |bookmark|}}
        <div class="bookmark-reminders__bookmark">
          <div class="bookmark-reminders__item">
            <a
              href="{{bookmark.bookmarkable_url}}"
              class="bookmark-reminders__link"
            >{{bookmark.title}}</a>
            {{theme-i18n "reminders.in"}}
            <span class="bookmark-reminders__timestamp">
              {{format-date bookmark.reminder_at format="tiny"}}</span>
          </div>
          <span class="bookmark-reminders__note"> {{bookmark.name}}</span>
        </div>
      {{/each}}
    {{/if}}

    {{#if
      (and
        (eq this.thisWeekBookmarks.length 0) (eq this.todayBookmarks.length 0)
      )
    }}
      <div class="bookmark-reminders__empty">
        <img
          class="bookmark-reminders__empty-placeholder"
          src="{{theme-setting 'theme_uploads.cat'}}"
        />
        <span class="bookmark-reminders__empty-text">{{theme-i18n
            "reminders.no_reminders"
          }}</span>
      </div>
    {{/if}}
  </div>
{{/if}}